* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
}

header {
    width: 100%;
    background-image: url(../img/head.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0 336px 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}


.menu li:hover {
    border-bottom: #000000 solid 3px;
}

.wrapper {
    width: 100%;
    display: flex;
}

.about {
    background-image: url(../img/about.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    padding: 208px 0 192px 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.about p {
    border: 5px solid #000000;
    font-size: 36px;
    width: 300px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 91px 127px 140px 85px;
}

.minLogo {
    margin-bottom: 31px;
}

.lor {
    margin-bottom: 32px;
    font-size: 18px;
    padding: 0 27px 0 22px;
}

.text p {
    text-align: center;
    font-size: 16px;
}

img {
    display: block;
    margin: auto;
}

.wrapper1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.wrapper1 img {
    max-width: 224.83px;
}

.sec4 {
    background-image: url(../img/sec4.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 114px 0 56px 0;
}

.wrapper2 {
    max-width: 859px;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.sign1 {
    justify-content: flex-end;
    max-width: 859px;
    display: flex;
    align-items: flex-end;
}

.sign {
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    color: #ffffff;
    font-weight: 100;

}

.citata p {
    font-size: 24px;
    font-style: italic;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
}

.citata::before {
    content: '\201C';
    font-size: 100px;
    color: #ffffff;
}

.citata::after {
    content: '\201D';
    font-size: 100px;
    color: #ffffff;
    text-align: right;
    margin-left: 825px;
}

.team {
    max-width: 449.66px;
    height: 500px;
}

.tm {
    border: 5px solid #000000;
    font-size: 36px;
    width: 300px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.subMenu {
    position: relative;
}

.opMenu li {
    display: inline-block;
    margin: auto;
    text-align: center;
    margin: 20px;
}

.opMenu li:first-child {
    display: block;
}

.opMenu {
    position: absolute;
    background-color: #c3c4b992;
    top: 0;
    width: 224.83px;
    height: 225px;
    padding-top: 20px;
    margin: auto;
    text-align: center;
    opacity: 0;
}

.subMenu:hover .opMenu {
    opacity: 1;
    transition: all 2s ease;
}

.back0 {
    width: 100%;
    background-image: url(../img/team1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.man {
    background-image: url(../img/team2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}

.soc {
    background-color: #ccc8b6;
    width: 100%;
    padding-top: 124px;
}

.social {
    font-size: 24px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    margin-bottom: 52px;
}

.soc p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 48px;
}

.minWrapp {
    padding: 0 35px 0 35px;
}

.socials {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.woman {
    background-image: url(../img/team3.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.for {
    background-color: #ffffff;
    width: 100%;
    padding-top: 124px;
}

.newslatter {
    margin: auto;
    max-width: 250px;
}

.newslatter h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.newslatter p {
    font-size: 12px;
    text-transform: uppercase;
}

.jump {
    margin-bottom: 43px;
}

input {
    display: block;
    width:300px;
    height: 40px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.submit {
    background-color: #9a977a;
    color: #ffffff;
    border: none;
    margin-bottom: 0;
}