@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
   src: url(./montserrat-v12-latin-regular.woff),
   url(./montserrat-v12-latin-regular.woff2);
  }


  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(./montserrat-v12-latin-700.woff),
    url(./montserrat-v12-latin-700.woff2);
  }

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
   src: url(./kaushan-script-v7-latin-regular.woff),
   url(./kaushan-script-v7-latin-regular.woff2);
  }